/FTISAssetSys.csproj.user
/Config
/log
/obj
/tmp
/bin/FTISAssetSys.pdb
/bin/FTISAssetSys.dll
/.vs/FTISAssetSys
/Scripts/gis
/Scripts/Dou
/bin/Dou.pdb
/bin/FtisHelperV2.pdb
/bin/app.publish
/Properties/PublishProfiles
/bin/FTISAssetSys.dll.config
/Web.config.Brian
