<?xml version="1.0"?>
<ArrayOfMenuDefAttribute xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MenuDefAttribute>
    <Name>盤點</Name>
    <MenuPath />
    <Index>50</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>盤點</Target>
    <ActionController>BarCode</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>盤點</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>各類設備數量表</Name>
    <MenuPath>統計專區</MenuPath>
    <Index>50</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>None</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>統計專區.各類設備數量表</Target>
    <ActionController>Rpt_Equipment</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>統計專區.各類設備數量表</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>各組資訊設備使用量</Name>
    <MenuPath>統計專區</MenuPath>
    <Index>51</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>None</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>統計專區.各組資訊設備使用量</Target>
    <ActionController>Rpt_Equipment_Group</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>統計專區.各組資訊設備使用量</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>各項設備數量表</Name>
    <MenuPath>統計專區</MenuPath>
    <Index>52</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>統計專區.各項設備數量表</Target>
    <ActionController>Rpt_Equipment_SubCate</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>統計專區.各項設備數量表</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>個人資產資料</Name>
    <MenuPath />
    <Index>60</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>個人資產資料</Target>
    <ActionController>UserAsset</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>個人資產資料</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>報廢</Name>
    <MenuPath>資產功能管理</MenuPath>
    <Index>70</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>資產功能管理.報廢</Target>
    <ActionController>Disposal</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>資產功能管理.報廢</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>租借</Name>
    <MenuPath>資產功能管理</MenuPath>
    <Index>71</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>資產功能管理.租借</Target>
    <ActionController>Loan</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>資產功能管理.租借</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>維修</Name>
    <MenuPath>資產功能管理</MenuPath>
    <Index>72</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>資產功能管理.維修</Target>
    <ActionController>Repair</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>資產功能管理.維修</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>總表</Name>
    <MenuPath>總務專區</MenuPath>
    <Index>80</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>總務專區.總表</Target>
    <ActionController>Asset</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>總務專區.總表</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>主分類</Name>
    <MenuPath>總務專區</MenuPath>
    <Index>81</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>總務專區.主分類</Target>
    <ActionController>Category</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>總務專區.主分類</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>次分類</Name>
    <MenuPath>總務專區</MenuPath>
    <Index>82</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>總務專區.次分類</Target>
    <ActionController>SubCategory</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>總務專區.次分類</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>所在位置</Name>
    <MenuPath>總務專區</MenuPath>
    <Index>83</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>總務專區.所在位置</Target>
    <ActionController>Location</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>總務專區.所在位置</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>狀態</Name>
    <MenuPath>總務專區</MenuPath>
    <Index>84</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>總務專區.狀態</Target>
    <ActionController>Status</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>總務專區.狀態</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>資產單位</Name>
    <MenuPath>總務專區</MenuPath>
    <Index>85</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>總務專區.資產單位</Target>
    <ActionController>Unit</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>總務專區.資產單位</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>供應商</Name>
    <MenuPath>總務專區</MenuPath>
    <Index>86</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>總務專區.供應商</Target>
    <ActionController>Supplier</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>總務專區.供應商</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>資訊資產明細</Name>
    <MenuPath>總務專區</MenuPath>
    <Index>87</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>總務專區.資訊資產明細</Target>
    <ActionController>ITAttributes</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>總務專區.資訊資產明細</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>盤點紀錄</Name>
    <MenuPath>總務專區</MenuPath>
    <Index>88</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>總務專區.盤點紀錄</Target>
    <ActionController>Inventory</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>總務專區.盤點紀錄</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>公司</Name>
    <MenuPath>總務專區</MenuPath>
    <Index>89</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>總務專區.公司</Target>
    <ActionController>Company</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>總務專區.公司</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>使用者管理</Name>
    <MenuPath>系統管理</MenuPath>
    <Index>90</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>系統管理.使用者管理</Target>
    <ActionController>User</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>系統管理.使用者管理</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>角色管理</Name>
    <MenuPath>系統管理</MenuPath>
    <Index>91</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>系統管理.角色管理</Target>
    <ActionController>Role</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>系統管理.角色管理</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>記錄查詢</Name>
    <MenuPath>系統管理</MenuPath>
    <Index>92</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>Delete</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <FromAppend>false</FromAppend>
    <Target>系統管理.記錄查詢</Target>
    <ActionController>Logger</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>系統管理.記錄查詢</Id>
  </MenuDefAttribute>
</ArrayOfMenuDefAttribute>